.event-info {
    .event-info-container {
        max-width: var(--container-width);
        margin: 0 auto;
        padding: var(--section-padding) var(--container-padding);
        display: flex;
        gap: 30px;
        align-items: center;
        .address {
            width: 50%;
            h3 {
                font-weight: 700;
            }
            ul{
                list-style: none;
                padding: 0px;
                li {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    a {
                        text-decoration: none;
                        color: #000;
                    }
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
        .map {
            width: 50%;
            iframe {
                width: 100%;
                border: 0px;
                height: 400px;
            }
        }
    }
}
