.features {
    background-color: var(--light-gray-color);
    .features-container {
        max-width: var(--container-width);
        margin: 0 auto;
        text-align: center;
        padding: var(--section-padding) var(--container-padding);
        .boxes {
            display: flex;
            gap: 30px;
            margin-top: 80px;
            .box {
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0px 20px 25px 0px rgb(0 0 0 / 8%);
                text-align: left;
                padding: 40px 50px;
                transition: transform 0.2s linear;
                position: relative;
                background-repeat: no-repeat;
                background-position: (right -20px) (top 10px);
                background-size: 80px;
                h4 {
                    font-size: 30px;
                    margin-top: 0px;
                    margin-bottom: 10px;
                    position: relative;
                    display: flex;
                    &::before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        background-color: var(--secondary-color);
                        display: block;
                        position: relative;
                        top: 19px;
                        margin-right: 10px;
                    }
                }
                p {
                    font-weight: 100;
                    line-height: 25px;
                    margin-bottom: 0px;
                }
                &:hover {
                    transform: scale(1.05);
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    background-color: var(--secondary-color);
                    display: block;
                    right: 0px;
                    bottom: 0px;
                }
                &:nth-child(1) {
                    background-image: url('./assets/front-end.png');
                }
                &:nth-child(2) {
                    background-image: url('./assets/back-end.png');
                }
                &:nth-child(3) {
                    background-image: url('./assets/devops.png');
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .features {
        .features-container {
            .boxes {
                flex-direction: column;
            }
        }
    }
}